<!-- <input type="submit" name="name" value="logout" ng-click='authData.$unauth()'> -->
<div class="pokeforum">
  <div class="forumTitle">
    <button class="logOut" type="button" ng-if="authData" name="button" ng-click="logOut()">Log Out</button>
    <h1>Welcome to the Pok&eacute;Forum</h1>
  </div>
  <div class="formBox newThreadForm" ng-if="authData">
    <h3>New Thread</h3>
    <input type="text" ng-model="newThreadTitle" placeholder="New thread name" required/>
    <button ng-disabled="newThreadForm.$invalid" ng-click="createThread(user, newThreadTitle)">Add Thread</button>
  </div>
  <div class="formBox signInBox" ng-if="!authData">
    <div class="loginFormBox">
      <h3>Login</h3>
      <form ng-submit="loginUser(loginEmail, loginPassword)">
        <input type="email" ng-model="loginEmail" placeholder="Email">
        <input type="password" ng-model="loginPassword" placeholder="Password">
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="loginFormBox">
      <h3>Sign Up</h3>
      <form ng-submit="createUser(email, username, password)">
        <input type="text" ng-model="username" placeholder="Username">
        <input type="email" ng-model="email" placeholder="Email">
        <input type="password" ng-model="password" placeholder="Password">
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  <div class="formBox Threads" ng-if="authData">
    <div class="threadBox" ng-repeat="thread in threads">
      <a href="#/pokeforum/{{thread.$id}}">
        <h1>{{thread.title}} </h1>
        <div>
          Created By: {{thread.username}}
        </div>
        <div>
          On: {{thread.created_on}}
        </div>
      </a>
    </div>
  </div>
</div>
