<div class="pokeforum">
  <div class="forumTitle">
    <a href="#/pokeforum">
      < Back</a>
        <button class="logOut" type="button" name="button" ng-click="logOut()">Log Out</button>
        <h1>{{ thread.title }} (by {{ thread.username }})</h1>
  </div>

  <div class="comments">
    <ul>
      <li ng-repeat="comment in comments">{{ comment.username }}: {{ comment.text }}</li>
    </ul>
  </div>

  <div class="commentsForm">
    <form name="newCommentForm">
      <input type="text" ng-model="newCommentText" placeholder="Write a comment..." required/>
      <button ng-disabled="newCommentForm.$invalid" ng-click="createComment(username, newCommentText)">Add Comment</button>
    </form>
  </div>
</div>
